form {
  display: flex;
  flex-direction: column;
}

.auth-btn {
  margin: 1rem 0;
  text-align: center;
  padding: .75rem;
  color: #fff;
  background: #E60012;
  font-size: 1.05rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.auth-btn:hover,
.auth-btn:focus {
  background-color: #d50214;
}

.auth-btn-alt {
  margin: 1rem 0;
  text-align: center;
  padding: .75rem;
  color: #333;
  background: transparent;
  border: 1px solid #B1B1B1;
  font-size: 1rem;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  width: 300px;
  margin: 1rem auto;
}

.auth-btn-alt:hover,
.auth-btn-alt:focus {
  background-color: #B1B1B1;
}