.dropdown--list {
  position: absolute;
  z-index: 98;
  border: 1px solid #e1e1e1;
  border-radius: .4rem;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .dropdown--list {
    width: 200px;
  }
}