.dropdown--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 35px;
  margin: .15rem 0;
  cursor: pointer;
  transition: ease-in-out all 350ms;
}

.dropdown--item:hover {
  background: rgba(18, 199, 183, .35);
  color: #fff;
}