main {
	padding-top: 100px;
}

.test {
	width: 500px;
	margin: 0 auto;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  margin: 1rem .4rem;
	color: #fff;
	border: none;
	outline: none;
	width: 75px;
	height: 50px;
  border-radius: .4rem;
}

.btn--all {
  background: #009BEB;
}

.btn--figures {
  background: #E6001E;
}

.btn--cards {
  background: #F5AA00;
}

.btn--yarn {
  background: #E62D8C;
}

.btn--series {
  background: #B3D139;
}

.btn--name {
  background: #3DAD9E;
}
