.filter--list {
  position: absolute;
  z-index: 98;
  border: 1px solid #e1e1e1;
  border-radius: .4rem;
  background: #fff;
  top: 8.5rem;
  left: 5.75rem;
  
}

@media only screen and (min-width: 768px) {
  .filter--list {
    width: 125px;
    top: 9.5rem;
    left: 7rem;
  }
}