.button {
  padding: .75rem;
  margin: 1rem 0;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.button:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}