.hero--wrapper {
  height: 100%;
}

.hero--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  background: url('https://tcrf.net/images/thumb/b/bb/AmiiboTap_TitleBG.png/320px-AmiiboTap_TitleBG.png');
  background-size: contain;
}

.hero--text h1 {
  font-size: 3rem;
}

.hero--text h3 {
  font-size: 1rem;
  padding: 1rem 0;
  color: #333;
}

.hero--btn {
  border-radius: .4rem;
  color: #fff;
  background: #009BEB;
  font-size: 1.25rem;
}

.amiibos {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero--text h1 {
    font-size: 4rem;
  }
  
  .hero--text h3 {
    font-size: 1.25rem;
    padding: 1rem 0;
    color: #333;
  }

  .amiibos {
    flex-direction: row;
  }
}