.card {
	position: relative;
	width: 150px;
	height: 200px;
	margin: .75rem;
	border-radius: 0.8rem;
	transition: all 300ms ease-in-out;
	background: #fff;
	cursor: pointer;
	border: none;
	outline: none;
	border: 1px solid RGBA(0, 0, 0, 0.2);
	box-shadow: 0px 7px 0px RGBA(0, 0, 0, 0.2);
}

.card:hover {
	transform: translateY(5px);
	box-shadow: 0px 2px 0px RGBA(0, 0, 0, 0.2);
}

.card--header {
	width: 100%;
	height: 65px;
	padding: 1rem;
}

.amiibo--name {
	font-size: 1rem;
	color: #707070;
}


.card--body {
	width: 100%;
}

.image-container {
	margin: 0 auto;
	height: 100px;
}

.image-container img {
	display: block;
	margin: 0 auto;
	max-width: 95%;
	max-height: 95%;
}



.card--footer {
	bottom: 0;
	width: 100%;
	padding: .5rem;
}

.amiibo--series {
	text-align: center;
	font-size: 0.85rem;
	color: #707070;
	font-style: italic;
}


@media screen and (min-width: 600px) {
	.card {
		margin: 1rem;
	}
}
