.filter-options {
	width: 100%;
	padding: .5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

@media only screen and (min-width: 460px) {
	.btn--search {
		max-width: 75px;
		border-radius: 0 0.4rem 0.4rem 0;
		height: 50px;
	}
}

@media only screen and (min-width: 768px) {

}
