.filter-options {
	padding: 0.25rem 1rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.btn {
	color: #fff;
	margin: 0.25rem;
	border-radius: 0.4rem;
	min-width: 75px;
	font-size: 0.9rem;
	transition: all ease-in-out 250ms;
	cursor: pointer;
}

.btn--search {
	background: #009beb;
	width: 100%;
	max-width: 100%;
	border-radius: .4rem;
	height: 50px;
	margin: 0;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn--all {
	background: #009beb;
}

.btn--figures {
	background: #e6001e;
}

.btn--cards {
	background: #f5aa00;
}

.btn--yarn {
	background: #e62d8c;
}

.btn--series {
	background: #b3d139;
}

.btn--name {
	background: #3dad9e;
}

@media only screen and (min-width: 460px) {
	.btn--search {
		max-width: 75px;
		border-radius: 0 0.4rem 0.4rem 0;
		height: 50px;
	}
}
