

.filter-options {
  padding: .25rem 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  color: #FFF;
  margin: .25rem;
  border-radius: .4rem;
  min-width: 75px;
  font-size: .90rem;
  transition: all ease-in-out 250ms;
  cursor: pointer;
}

.btn--search {
  background: #009BEB;
  width: 100%;
  max-width: 75px;
  border-radius: 0 .4rem .4rem 0;
  height: 50px;
  margin: 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--all {
  background: #009BEB;
}

.btn--figures {
  background: #E6001E;
}

.btn--cards {
  background: #F5AA00;
}

.btn--yarn {
  background: #E62D8C;
}

.btn--series {
  background: #B3D139;
}

.btn--name {
  background: #3DAD9E;
}
